h3 Register
.row
  .col-xs-3
    form(novalidate, name='registerForm', role='form')
      .form-group
        label(for='email') Email
        input.form-control#email(name='email', type='text', ng-model='register.email', required, autofocus)
      .form-group
        label(for='password') Password
        input.form-control#password(name='password', type='text', ng-model='register.password', ng-minlength='3', required)
      .form-group
        button.btn.btn-success(ng-show='registerForm.$valid', ng-click='register()') Register
  .col-xs-9
